h2{
    font: arial;
    font-size: 30px;
    color: white;
}
.container{
    border: 5px solid yellow;
    box-shadow: yellow 0px 0px 30px;
    border-radius: 40px;
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    width: 40vw;
    justify-content: center;
    align-items: center;
}
.container:hover{
    transform: scale(1.02);
    background-color: rgb(75, 26, 26);

}
.container:hover h2{
    background-color: rgb(75, 26, 26);
}
button{
    height: 50px;
    /* box-shadow: yellow 0px 0px 20px; */
    border-radius: 30px;
    width: 120px;
}
button:hover{
    transform: scale(1.2);
    box-shadow: yellow 0px 0px 20px;
}
.ad{
    color: white;
    font-weight: 800;
    font-size: 30px;
    background-color: green;
}
.su{
    color: white;
    font-weight: 800;
    font-size: 30px;
    background-color: red;
}
